__pycache__/
outputs/
checkpoints/
model_weights/
yolov8n.pt
yolov8n-seg.pt
runs/
wandb/
output_dir/
odad/**/*.mp4
bbox_inference/src/boxinfer.egg-info
bbox_inference/test_artifacts
bbox_inference/test_results